<div class="case">
    <div class="case-header">
        {{ if .Get "title" }}
        <h4 class="case-title">{{ .Get "title" }}</h4>
        {{ end }}
        <div class="case-meta">
            {{ if .Get "impact" }}
            <span class="case-impact">Impacto: {{ .Get "impact" }}</span>
            {{ end }}
            {{ if .Get "date" }}
            <span>Data: {{ .Get "date" }}</span>
            {{ end }}
        </div>
    </div>
    <div class="case-content">
        {{ .Inner | markdownify }}
    </div>
</div>

