name: Deploy to GitHub Pages

on:
  push:
    branches:
      - master  # Branch principal do repositório
  workflow_dispatch:  # Permite execução manual

# Permite que apenas uma execução por vez seja executada, colocando em fila as execuções que estão em andamento
concurrency:
  group: "pages"
  cancel-in-progress: false

# Define permissões GITHUB_TOKEN para permitir deploy no GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# Permite apenas uma execução simultânea de deploy
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive  # Importante para temas Hugo
          fetch-depth: 0

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: '0.147.8'
          extended: true

      - name: Setup Pages
        id: pages
        uses: actions/configure-pages@v4

      - name: Build with Hugo
        env:
          HUGO_ENVIRONMENT: production
          HUGO_ENV: production
        run: |
          hugo \
            --gc \
            --minify \
            --baseURL "${{ steps.pages.outputs.base_url }}/"

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./public

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4

